# Compulsory Task

In this compulsory task you will use pandas to select data from a dataset and explain the data retrieved for a given line of code.

In [74]:
import pandas as pd

You will use the same `balance.txt` dataset used in the example Jupyter notebook. Remember to ensure it is in the same folder as this notebook.

In [75]:
df = pd.read_csv('balance.txt',sep=' ')

1. Write the code that performs the action described in the following statements.

In [76]:
# Select the 'Limit' and 'Rating' columns of the first five observations
Limit_and_Rating = df[['Limit','Rating']].head(5)
print(Limit_and_Rating)

   Limit  Rating
0   3606     283
1   6645     483
2   7075     514
3   9504     681
4   4897     357

In [77]:
# Select the first five observations with 4 cards
selected_4_cards = df[df['Cards'] == 4].head(5)
print(selected_4_cards)

      Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
2   22.530409  104.593   7075     514      4   71         11    Male      No
5   22.486178   80.180   8047     569      4   77         10    Male      No
10  13.994990   63.095   8117     589      4   30         14    Male      No
20   9.853100   17.700   2860     235      4   63         16  Female      No
29  14.007770   26.813   5611     411      4   55         16  Female      No

   Married  Ethnicity
2       No      Asian
5       No  Caucasian
10     Yes  Caucasian
20      No      Asian
29      No  Caucasian

In [78]:
# Sort the observations by 'Education'. Show users with a high education value first.
sorted_education = df.sort_values(by='Education',ascending=False)
print(sorted_education)

       Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
60   13.297283   35.510   5198     364      2   35         20  Female      No
51   13.010768   39.705   3969     301      2   27         20    Male      No
378  10.140785   19.349   4941     366      1   33         19    Male      No
247  13.774598   36.364   2220     188      3   50         19    Male      No
238  11.079748   26.532   2910     236      6   58         19  Female      No
..         ...      ...    ...     ...    ...  ...        ...     ...     ...
284   8.298482   14.711   2047     167      2   67          6    Male      No
368  19.555838   89.000   5759     440      3   37          6  Female      No
224  25.262836  121.709   7818     584      4   50          6    Male      No
254  13.997826   36.508   6386     469      4   79          6  Female      No
30   10.201523   34.142   5666     413      4   47          5  Female      No

    Married         Ethnicity
60       No             Asian
51      Yes  African American
378     Yes         Caucasian
247      No         Caucasian
238     Yes         Caucasian
..      ...               ...
284     Yes         Caucasian
368      No         Caucasian
224     Yes         Caucasian
254     Yes         Caucasian
30      Yes         Caucasian

[400 rows x 11 columns]

2. Write a short explanation in the form of a comment for the following lines of code. For example:  
```
# Selects the first 5 rows, and all of the columns for those rows.
df.iloc[:5,:]
```

In [79]:
# Select all rows and all columns of the DataFrame.
df.iloc[:,:]

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...
395,8.764984,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian
396,9.943838,13.364,3838,296,5,65,17,Male,No,No,African American
397,14.882078,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian
398,12.001071,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian
399,10.159598,18.701,5524,415,5,64,7,Female,No,No,Asian

In [80]:
# Select rows from index 5 to the end and columns from index 5 to the end.
df.iloc[5:,5:]

     Age  Education  Gender Student Married         Ethnicity
5     77         10    Male      No      No         Caucasian
6     37         12  Female      No      No  African American
7     87          9    Male      No      No             Asian
8     66         13  Female      No      No         Caucasian
9     41         19  Female     Yes     Yes  African American
..   ...        ...     ...     ...     ...               ...
395   32         13    Male      No     Yes         Caucasian
396   65         17    Male      No      No  African American
397   67         12  Female      No     Yes         Caucasian
398   44         13    Male      No     Yes         Caucasian
399   64          7  Female      No      No             Asian

[395 rows x 6 columns]

In [81]:
# Selects all rows from the first column (column with index 0) 
df.iloc[:,0]

0      12.240798
1      23.283334
2      22.530409
3      27.652811
4      16.893978
         ...
395     8.764984
396     9.943838
397    14.882078
398    12.001071
399    10.159598
Name: Balance, Length: 400, dtype: float64

In [82]:
# Selects the 10th row (index 9) and all columns
df.iloc[9,:]

Balance             17.756965
Income                 71.061
Limit                    6819
Rating                    491
Cards                       3
Age                        41
Education                  19
Gender                 Female
Student                   Yes
Married                   Yes
Ethnicity    African American
Name: 9, dtype: object